---
---

<p>
    *
    <sub class="text-sm">
        Los totales y variaciones porcentuales pueden diferir, por redondeo de
        las cifras, de acuerdo a lo publicado en el informe técnico del
        intercambio comercial argentino (ICA).
    </sub>
</p>
