---
export interface Props {
    id: string;
    menuId: string;
    className?: string;
}

const { menuId, id, className } = Astro.props;
---

<button
    type="button"
    class="h-14 w-14 rounded-md bg-gray-300 p-2 transition-all md:hidden"
    id={id}
>
    <svg viewBox="0 0 30 30" class="h-full w-full">
        <path
            stroke="rgba(0, 0, 0, 0.75)"
            stroke-width="2"
            stroke-linecap="round"
            stroke-miterlimit="10"
            d="M4 7h22M4 15h22M4 23h22"
        >
        </path>
    </svg>
</button>

<script define:vars={{ menuId, id }}>
    const hamburguer = document.querySelector("#" + id);
    const transform = (e) => {
        e.classList.toggle("transform");
        e.classList.toggle("scale-y-0");
    };

    hamburguer.onclick = () => {
        const menu = document.querySelector("#" + menuId);
        // accordeonLogic(menu);
        if (menu.className.includes("h-0")) {
            menu.classList.remove("h-0");
            transform(menu);
        } else {
            transform(menu);
            setTimeout(() => {
                menu.classList.add("h-0");
            }, 250);
        }
    };
</script>
